.forPic
{
    border-radius: 15px;
    padding-top:00px;
}

h1
{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:xx-large;
    color: #FFFFFF;
    padding-left:5px;
    text-transform:uppercase;
    border-radius:15px;
}