body {
}

label{
    text-decoration-color:palegreen;
    font-size:x-large;
}
#parents
{
    width:900px;
    margin-left:auto;
    margin-left:auto;
    color:blue;
    font-size:large;

}
/* for content of the table*/
table.center{
        margin-left:auto; 
    margin-right:auto;
   
}
 table td
 {
     font-size:x-large;
     color:blue;
     text-align:right;

 }
 /* controlling the input content*/
 input{
     font-size:medium;
       color:black;
       background-color:azure;
    width: 170px;
}
.PaddtoLeft {
    padding-left:5px;
}

.Lu {
    display: inline;

} 
.Li 
{
     list-style: none;display: inline;

}
.Width {
    width:170px;
    height:33px;
    padding-top:10px;
}
.forButton {
    width:153px;
    height:50px;
}
/* for remove LI style*/
li{
    list-style:none;
}