body
 {
    background-color:grey;
}
#allpage
 {
    margin-left:auto;
    margin-right:auto;
    width:900px;
    background-color:burlywood;
    border-radius: 15px;
    
}
footer {
	background-color: #FF5050;
	color: #FFFFFF;
	font-size: medium;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}
.imgEdit {
    width:100%;
}
.imgeMainPage{
    width:250px;
    height:300px;
    padding-right:5px;

}